body {
    font-family: Arial, sans-serif;
    background-color: rgb(138, 184, 157);
  }

  h2 {
    text-align: center;
    color: #ffff
  }

  form {
    width: 300px;
    margin: 0 auto;
  }

  label {
    display: block;
    margin-bottom: 5px;
    color: #ffff
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #183429;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #183429;
  }

